.img-h {
    height:340px !important;
    margin: 0 auto; 
}
.txtalign-blk {
    margin: 0 auto;
}
.txt-blk {
    position: relative;
    right: 50px;
    width: 672px;
}
.mt-cls {
    margin-top: 100px;
  }
.pb-cls {
    padding-bottom:29px;
}
.text-5xl {
font-size: 2.8rem !important;
}